# vs code cli override
code () { VSCODE_CWD="$PWD" open -n -b "com.microsoft.VSCode" --args $* ;}

# catch-all update command for various package managers and utilities
alias update="brew upgrade && brew update && antigen update && nvm upgrade && npm update -g && vim +PluginUpdate +qall"

# dotfile tracking
alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"

# dotfiles markdown editor
alias dotedit="gh gist edit add88f8d05447f09008974a90cb178db"

# delete linear-related git branches
alias delin="git branch | grep '\<FE-*\>' | xargs git branch -D"
